<div id="modal" class="point">
    <div class="content">
        <img src="/assets/cancel.svg" alt="Erro no Cadastro">
        <h1>Erro no Cadastro</h1>
    </div>
</div>

<script>
setTimeout(() => {
    window.location = "/create-point"
}, 2000)
</script>